wp-content/cache/
wp-content/litespeed/
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/uploads/
wp-content/plugins/urvanov-syntax-highlighter/log.txt

wp-config-sample.php

*.shtml
*.log
*.bk
*.bkp
error_log

composer.lock
/vendor/
